<%- include("../partials/head"); %>
<%- include("./add_script"); %>
<script defer src="./js/cursor.js"></script>
<%- include("../partials/neck"); %>

<div id="loader"
 style="width: 100vw;height: 100vh;overflow: hidden;z-index: 100; position: absolute; top: 0;left: 0; display: flex;justify-content: center; align-items: center;background-color: #2c2821; color: #aeb9d6;"
 >
  <span>
    Loading...
  </span>
</div>

<div id="main" style="display: none;" class="w-screen h-screen overflow-x-hidden overflow-y-auto
  bg-smoky-black-800 text-liberty-300 relative
 ">

   <button class="absolute top-3 left-3 text-3xl hover:text-liberty-400 p-2"
	onclick="document.querySelector('#topic-menu').classList.remove('hidden')"
     >
     <i class="fa-solid fa-bars-staggered"></i>
   </button>

   <div class="flex flex-col text-2xl 
	absolute top-0 left-0 z-50 hidden slide-r md:w-[40%] 
	w-full h-full overflow-x-hidden overflow-y-auto bg-smoky-black-900"
     id="topic-menu">
     	<button class="flex p-3 justify-end text-3xl bg-smoky-black-700/10 pr-4 items-center"
	  onclick="document.querySelector('#topic-menu').classList.add('hidden')"
	  >
	  <i class="fa-solid fa-xmark"></i>
	</button>
	 <a href="/" class="p-3 pl-5 text-3xl hover:bg-smoky-black-700/20">
	   <i class="fa-solid fa-house"></i>
	   Home
	 </a>  
	 <span class="p-2 pl-5 text-3xl text-liberty-400 bg-smoky-black-700/10 font-mono capitalize">Topics</span>
		<a href="blogs"
		  class="pl-7 p-3 hover:bg-smoky-black-700/20">
			  <span>All</span>
		</a> 	
		<% topics.forEach((topic) => { if(topic.topic_id !== "default"){ %>
		<a href="blogs/?topic_id=<%= topic.topic_id %>"
		  class="pl-7 p-3 hover:bg-smoky-black-700/20">
			  <span><%= topic.topic_title %></span>
			</a> 	
		<% }}) %>
   </div>

  <% if(locals.message) { %>
  <div id="message-container" class="absolute bottom-0 left-0 flex w-full justify-center items-start p-2 bg-liberty-700 font-semibold text-liberty-100">
    <span><%= message %></span>
    <button
      onclick="document.getElementById('message-container').remove()"
      class="absolute top-0 right-0 p-2 pt-3 pr-5">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <% } %>
   <div class="w-full flex justify-center items-center pl-5 pr-5 md:pl-20 md:pr-20 pt-16 pb-10 flex-col space-y-5">
     <% if(blogs.length > 0){
	blogs.forEach((blog) => {
     %>
	  <div class="p-2 w-full 
	    flex-col md:flex-row
	    flex justify-between bg-smoky-black-700 text-liberty-300 rounded-md md:items-end items-start slide-r">
		<div class="flex flex-col capitalize p-1">
		<span class="flex space-x-2 items-baseline">
		  <a href="blogs/view/<%= blog.blog_id %>" class="text-2xl underline">
		      <%= blog.blog_title %> 
		  </a>
		  <a href="blogs?topic_id=<%= blog.blog_topic %>" class="text-md underline">
		    (<%= blog.blog_topic %>)
		  </a>
		  </span>
		    <span class="text-sm mt-1">
		      <%= blog.blog_description %>
		    </span>
		  </div>
		  <%
		      const date = new Date(blog.blog_creation)
		      const show_date = date.getDate() + '/' +(date.getUTCMonth() + 1) + '/'+ date.getUTCFullYear()
		  %>
		  <span class="text-sm text-start w-full md:w-auto font-mono md:text-end md:p-2"><%= show_date %></span>
	  </div>
	<% })} else { %>
	    <span class="text-french-raspberry-600 text-3xl font-semibold p-2">
	      No Blogs !
	    </span>
	<% } %>
   </div>

</div>

<%- include("../partials/foot"); %>
