<%- include("../partials/head"); %>
<link rel="stylesheet"
href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.3.2/build/styles/atom-one-dark-reasonable.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
document.title = `<%= blog.blog_title %>`;
const tinyMCE = document.createElement("script")
tinyMCE.src = `${window.location.origin}/js/tinymce/tinymce.min.js`
document.head.appendChild(tinyMCE)
tinyMCE.setAttribute("defer","")
const Cursor = document.createElement("script")
Cursor.src = `${window.location.origin}/js/cursor.js`
Cursor.setAttribute("defer","")
document.head.appendChild(Cursor)
function initTiny() {
  if(tinymce){
    tinymce.remove();
  }
  tinymce.init({
    selector: ".blog-editor",
    menubar: "edit view insert format",
    resize: false,
    file_picker_types: 'image',
    file_picker_callback: function (cb, value, meta) {
      let input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');
      input.onchange = function () {
	let file = this.files[0];
	let reader = new FileReader();
	reader.onload = function () {
	  let id = 'blobid' + (new Date()).getTime();
	  let blobCache =  tinymce.activeEditor.editorUpload.blobCache;
	  let base64 = reader.result.split(',')[1];
	  let blobInfo = blobCache.create(id, file, base64);
	  blobCache.add(blobInfo);
	  cb(blobInfo.blobUri(), { title: file.name });
	};
	reader.readAsDataURL(file);
      };
      input.click();
    },
    plugins:
      "fullscreen searchreplace autolink directionality visualblocks visualchars image link media codesample charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount charmap emoticons autosave",
    toolbar:
      "undo redo | blocks fontfamily fontsize | bold italic underline forecolor backcolor | link image | alignleft aligncenter alignright alignjustify lineheight | fullscreen | bullist numlist indent | removeformat ",
    height: "250px",
    skin: "bootstrap",
    content_css: "tinymce-5-dark",
    setup: function (editor) {
      editor.on("paste change undo redo input", function () {
	tinymce.triggerSave();
      });
    },
  });
  setInterval(() => {
    if (document.querySelector(".tox-promotion"))
      document.querySelector(".tox-promotion").remove();
    if (document.querySelector(".tox-statusbar__branding"))
      document.querySelector(".tox-statusbar__branding").remove();
  }, 800);
}
// Initialize TinyMCE
document.addEventListener("DOMContentLoaded", function(){
  setTimeout(() => {
        hljs.highlightAll()
	initTiny()
    	document.querySelector("#loader").remove()
    	document.querySelector("#main").style.display = "flex"
  },300)
})
</script>
<%- include("../partials/neck"); %>

<div id="loader"
 style="width: 100vw;height: 100vh;overflow: hidden;z-index: 100; position: absolute; top: 0;left: 0; display: flex;justify-content: center; align-items: center;background-color: #2c2821; color: #aeb9d6;"
 >
  <span>
    Loading...
  </span>
</div>

	      <div style="display: none;" id="main" class="w-screen h-screen bg-smoky-black-800 overflow-x-hidden overflow-y-auto pb-10
		  absolute top-0 left-0 flex items-center flex-col space-y-5 text-liberty-300"
		  id="preview-<%= blog.blog_id %>">
		  
		  <div class="flex p-2 justify-start bg-smoky-black-900/50 w-full text-sm md:text-xl">
		    <span class="font-semibold">
		      <a href="/blogs" class="mr-3">
		      <i class="fa-solid fa-arrow-left"></i>
		      </a>
		      <span>
			<%= blog.blog_title %>
		      </span>
		      <a href="../../../blogs?topic_id=<%= blog.blog_topic %>" class="capitalize">
			(<%= blog.blog_topic.replaceAll('-',' ') %>)
		      </a>  
		    </span>
		  </div>
		  
		  <div class="text-start w-[300px] md:w-[600px] lg:[800px] xl:w-[80%]">
		    <div class="revert-tailwind blog-container">
		      <%- blog.blog_content %>
		      <span style="width: 100%;text-align:left;margin-top: 1rem;font-size: large;font-style: italic; font-weight: 900;">~ By Sidhartha Mazumder</span>
		      <div
			style="
			margin-top:4.5rem; margin-bottom: 1rem;"
			>
		      <form action="../../../blogs/post_comment/<%= blog.blog_id %>" class="mt-5" method="post">
			<textarea class="blog-editor" name="comment_content"></textarea>
			<button style="color:#f0f0f0" class="bg-liberty-600 text-2xl p-2 
			 font-semibold hover:bg-liberty-700 w-full rounded-md mt-5" type="submit">
			      Comment
			</button>
		      </form>
		      </div>
		      <div
			style="background-color:#40403f90;border-radius:0.375rem;padding: 0.75rem;
			margin-top:1.5rem; margin-bottom: 1rem;"
			>
			<span class="font-semibold text-xl">Comments:</span>
			<% 
			  let isComment = false;
			  if(comments.length > 0){
			  comments.forEach((comment) => {
			  if(comment.blog_id == blog.blog_id){
			  if(!isComment){ isComment = true; }
			%>
			<div class="p-2 flex justify-between text-liberty-300
			  bg-smoky-black-800/50 rounded-md mt-3 mb-3 items-center">
			      <% const comment_date = comment.comment_creation.toString().split(" ") %>
			      <span><%- comment.comment %> - (<%= comment_date[2] + "-" + comment_date[1] + "-" + comment_date[3] %>)</span>
			</div>
			<%
			    }})} else if(!isComment){
			%>
		      <span class="text-french-raspberry-600 text-xl font-semibold mt-5 p-2">
			No Comments Yet!
			</span>
		      <% } %>
		      </div>
		    </div>

		    <span class="text-3xl font-semibold mt-5">Related Blogs</span>

		    <div class="mt-5">
		<% if(related_blogs.length > 0){
		related_blogs.forEach((b) => { %>
			      
		<div class="p-2 w-full 
		  flex-col md:flex-row
		  flex justify-between bg-smoky-black-700 text-liberty-300 rounded-md md:items-end items-start">
		      <div class="flex flex-col capitalize p-1">
		      <span class="flex space-x-2 items-baseline">
			<a href="../../../blogs/view/<%= b.blog_id %>"' class="text-2xl underline">
			    <%= b.blog_title %> 
			</a>
			<a href="../../../blogs?topic_id=<%= b.blog_topic %>" class="text-md underline">
			  (<%= b.blog_topic %>)
			</a>
			</span>
			  <span class="text-sm mt-1">
			    <%= b.blog_description %>
			  </span>
			</div>
			<%
			    const date = new Date(b.blog_creation)
			    const show_date = date.getDate() + '/' +(date.getUTCMonth() + 1) + '/'+ date.getUTCFullYear()
			%>
			<span class="text-sm text-start w-full md:w-auto font-mono md:text-end md:p-2"><%= show_date %></span>
		</div>
		<% })} else { %>
		  <span class="text-french-raspberry-600 text-3xl font-semibold p-2 pl-0">
		    No related Blogs!
		  </span>
		<%  } %>
		    </div>
		  </div>
		</div>

<%- include("../partials/foot"); %>

